/* Tùy chỉnh màu nền của tab */
.ant-tabs-tab {
    /* Màu nền tab */
    background-color: none;
    padding: 10px 30px !important;
    font-size: 18px !important;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease;
}

.ant-tabs-nav::before {
    border-bottom: none !important
}

.ant-tabs-tab-active {
    /* font-weight: 600 !important; */
    background-color: none !important
}


.ant-tabs-ink-bar {
    display: flex;
    background-color: black !important;
}

.ant-tabs-tab-btn {
    color: black !important;
}


.modal-body::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    /* Độ rộng của thanh cuộn */
}

.modal-body::-webkit-scrollbar-track {
    background: #e3e3e3;
    /* Màu nền của thanh cuộn */
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #111111;
    /* Màu của thanh cuộn */
    border-radius: 10px;
    /* Bo tròn cho phần thanh cuộn */
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: #b37a08;
    /* Màu của thanh cuộn khi di chuột qua */
}